[Unit]
Description=HopZero DNS Resolver
After=network.target

[Service]
WorkingDirectory=/home/misti-rani/HopZero-DNS
ExecStart=/usr/bin/go run /home/misti-rani/HopZero-DNS/app.go
Environment=GOPATH=/home/misti-rani/go
User=root
Group=root
Restart=always
RestartSec=5
LimitNOFILE=4096
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target
